@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
  margin: 0;
  padding-top: 1rem;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding-left: 1rem;
}
body{
  height: 100vh;
  padding-top: 1rem;
  background-image: url(https://images.unsplash.com/photo-1533038590840-1cde6e668a91?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80);
  -webkit-background-size: cover;
  background-size: cover;
  font: 'Poppins', sans-serif;
  padding-left: 1rem;
}

.container {
  max-width: 100vw;
  margin: 0;
  overflow: hidden;
  position: relative;
  font-family: 'Inconsolata', monospace;
}
.container .col-md-6 {
  padding: 0;
}

button {
  border-radius: 0;
  padding: 4px 6px;
  font-size: 13px;
}

.quote-element {
  border: 1px solid black;
  transition: all ease .1s;

}
.quote-element .quote {
  font-size: 18px;
}

.quote-element .quote .authorName {
  font-size: 14px;
}

.quote-element .quote #hover {
  box-shadow: -3px 3px 24px -7px rgba(0,0,0,0.75);
  -webkit-box-shadow: -3px 3px 24px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px 3px 24px -7px rgba(0,0,0,0.75);
  transform: scaleZ(1.2);
}

.quote-element .quote .popularity {
  display: flex;
  justify-content: space-around;
}

.try {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tray .lag {
  margin-left: 20px;
}

.tray .logo {
  margin-right: 10px;
}

.most {
  color: rgb(250, 7, 7);
}

.none {
  color: black;
}

