<div class="container">

  <div class="row">
      <div class="col-md-6" id="left">
          <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>
      <div class="col-md-6 px-2" id="right">
          <div *ngFor='let quote of quotes;let i = index'>
             <div appMostliked class="quote-element my-3 p-2">
              <div>
                  <p class="quote">"{{ quote.quote }}"</p>
                  <div class="popularity">
                      <p class="authorName">Author: {{ quote.authorName }}</p>
                      <div class="try">
                          <input class= "logo" (click)="upvoteQuote(i)" type="image" id="upvote" name="upvote" src="https://res.cloudinary.com/dblrvhi8r/image/upload/v1633927469/icons8-thumbs-up-24_mbxcpf.png"> <span>{{ quote.upvote }}</span>
                          <input class= "lag"(click)="downvoteQuote(i)" type="image" id="downvote" name="downvote" src="https://res.cloudinary.com/dblrvhi8r/image/upload/v1633927460/3671877_down_thumbs_icon_gvgdhj.png" height="38px" width="38px"><span> {{quote.downvote }}</span>
                      </div>
                  </div>
                  <button class="btn btn-outline-warning" (click)="toggleDetails(i)">Toggle Details</button>
              </div>

              <div *ngIf="quote.showDetails">
                  <app-quote-detail [quote]='quote' (toDelete)="deleteQuote($event, i)"></app-quote-detail>
              </div>
             </div>
          </div>
      </div>
  </div>

</div>
